@use "../styles/colors";
@use "../styles/widths";
@use "../styles/breakpoints";

.title {
    font-weight: bold;
    font-size: large;
    color: colors.$std;
    border-bottom: 2px solid  colors.$std;
}

.column {
    padding:  widths.$s-3;
    width:  widths.$s-full;
    flex: 1;
}

.link {
    padding: 5px 0px;
    color: colors.$std;

    &:hover {
        background-color: colors.$lite;
    }
}

@media (min-width: breakpoints.$break-large){
    .title {
        font-size: x-large;
    }

    .column {
        width: auto;
        height:  widths.$s-full;
    }
}