@use "../styles/breakpoints";
@use "../styles/widths";
@use "../styles/colors";

.form {
    width: widths.$s-full;
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.title {
    color: colors.$std;
    font-size: large;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid colors.$std;
}

.row {
    width: widths.$s-full;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:5px;
}

.button, .input, .label {
    font-size: small;
}

.button {
    padding: 2.5px 5px;
    background-color: colors.$std;
    color: white;

    &:hover {
        border-color: colors.$hover; 
    }
}

.input, .text_area, .select {
    padding: 0px 5px;
    height: 30px;
    background-color: white;
    border: 1px solid colors.$std;
    border-radius: 5px;
    outline-color: colors.$active;

    &:disabled {
        border: gray;
        background-color: lightgrey;
    }
}

.text_area {
    padding: 2px;
}

.input[type=file]::file-selector-button{
    border: none;
    background-color: colors.$std;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: colors.$hover;
    }
}

.password {
    flex: 9;
}

.password_button {
    flex: 1;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgray;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        background-color: colors.$hover;

        img {
            filter: invert(1)
        }
    }

    img {
        width: 80%;
        height: 80%;
    }
}

.error {
    border: 2px solid red !important;
}

@media (min-width: breakpoints.$break-large){
    .title {
        font-size: x-large;
    }

    .input, .label, .button, .text_area {
        font-size: medium;
    }

    .button {
        padding: 5px 10px;
    }
}