@use "../vars.scss";

.header {
    display: flex;
    height: 48px;
    background-color: vars.$std;
}

.brand {
    min-width: vars.$sidebar-width;
    padding: 0px 5px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        border: 1px solid white;
    }

    span {
        flex: 1;
        font-size: xx-large;
        font-weight: bold;
        color: white;
    }
}

.navbar {
    border-left: 2px solid white;
    display: flex;

    .menu {
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;

        &.active {
            background-color: vars.$active;
        }

        &:hover {
            background-color: vars.$hover;
        }
    }
}

@media (max-width: vars.$layout-breakpoint-small) {
    .brand {
       max-width: unset;
    }
}