@use "../styles/breakpoints";
@use "../styles/widths";
@use "../styles/colors";


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid colors.$std;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        background-color: colors.$hover;
    }

    &:disabled {
        cursor: pointer;
        border-color: colors.$gray-400;
        background-color: colors.$gray-200;
        pointer-events: none;
    }
}

@media (min-width: breakpoints.$break-large){
    .button {
        border-width: 2px;
    }
}