@use "../styles/breakpoints";
@use "../styles/widths";
@use "../styles/colors";


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid colors.$std;
    border-radius: 5px;

    &:hover {
        background-color: colors.$hover;
    }
}

.remove_button{
    width: widths.$s-6;
    height: widths.$s-6;

    svg {
        line {
            stroke: black;
            stroke-linecap: square;
            stroke-width: 7px;
        }
    }

    &:hover {
        svg {
            line {
                stroke: white;
            }
        }
    }
}

@media (min-width: breakpoints.$break-large){
    .button {
        border-width: 2px;
    }
    
    .remove_button {
        width: widths.$s-7;
        height: widths.$s-7;
    }
}