@use "../styles/colors";
@use "../styles/widths";
@use "../styles/mixins";

.area {
    padding:  widths.$s-3;
}

.card {
    flex: 1;
    position: relative;
    background-color: colors.$gray-200;
    border-radius:  widths.$s-3;
    overflow: hidden;
    @include mixins.transition(flex, 500ms);

    &:hover {
        cursor: pointer;
        
        .overlayer {
            opacity: 40%;
        }
    }
}

.content {
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    @include mixins.transition(all, 500ms);
}

.active {
    flex: 2 !important;

    .overlayer {
        opacity: 50%;
    }

    .content {
        opacity: 100%;
        max-height: 500px;
    }
}

.overlayer {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width:  widths.$s-full;
    height: widths.$s-full;
    background-color: black;
    opacity: 65%;
    z-index: 1;
    @include mixins.transition(opacity, 500ms);
}