@import "../styles/colors";
@import "../styles/widths";
@import "../styles/breakpoints";

.header {
    display: flex;
    height: $s-12;
    background-color: $std;
}

.brand {
    padding: 0 $s-1;
    height: $s-full;
    display: flex;
    align-items: center;
    gap: $s-3;
    flex: 1;

    img {
        border: 1px solid white;
    }
    
    span {
        flex: 1;
        color: white;
        font-weight: bold;
        font-size: xx-large;
    }
}

.navbar {
    border-left: 2px solid white;
    display: flex;
    width: $s-16;

    .menus {
        display: none;
        position: absolute;
        flex-flow: column nowrap;
        top: $s-12;
        right: 0;
        background-color: $gray-400;
        border: 2px solid white;
        border-top: none;
    }

    .button {
        padding: 0 $s-2;

        &:hover {
            cursor: pointer;
            background-color: $hover;
        }

        img {
            pointer-events: none;
            filter: invert(1);
        }
    }

    .button_active {
        background-color: $active;
    }
}

.menu, .dropdown {
    padding: 0 $s-5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
   
    &:hover {
        background-color: $hover;
    }
}

.dropdown {
    position: relative;

    span {
        pointer-events: none;
    }

    .dropped_menus {
        position: absolute;
        width: 100%;
        flex-flow: column nowrap;
        display: none;
        background-color: $gray-400;
        border: 2px solid white;
        overflow: hidden;
    }

    &:hover .dropped_menus {
        display: flex;
    }
}

.active {
    background-color: $active;
}

.show {
    display: flex !important;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    z-index: 9999;
}

@media (min-width: $break-large){
    .brand {
        min-width: $sidebar;
        flex: none;
    }

    .navbar {
        width: auto;

        .menus {
            display: flex;
            position: static;
            flex-flow: row nowrap;
            background-color: transparent;
            border: none;
            border-radius: 0;
        }

        .button {
            display: none;
        }
    }

    .dropdown { 
        &:hover .dropped_menus {
            top: calc($s-12);
            border-radius: 0 0 10px 10px;
        }
    }
}

