@use "../styles/colors";
@use "../styles/widths";
@use "../styles/breakpoints";

.header {
    display: flex;
    height: widths.$s-12;
    background-color: colors.$std;
}

.brand {
    padding: 0  widths.$s-1;
    height:  widths.$s-full;
    display: flex;
    align-items: center;
    gap:  widths.$s-3;
    flex: 1;

    img {
        border: 1px solid white;
    }
    
    span {
        flex: 1;
        color: white;
        font-weight: bold;
        font-size: xx-large;
    }
}

.navbar {
    border-left: 2px solid white;
    display: flex;
    width:  widths.$s-16;

    .menus {
        display: none;
        position: absolute;
        flex-flow: column nowrap;
        top:  widths.$s-12;
        right: 0;
        background-color: colors.$gray-400;
        border: 2px solid white;
    }

    .button {
        padding: 0  widths.$s-2;

        &:hover {
            cursor: pointer;
            background-color: colors.$hover;
        }

        img {
            pointer-events: none;
            filter: invert(1);
        }
    }

    .button_active {
        background-color: colors.$active;
    }
}

.menu, .dropdown {
    padding: 0  widths.$s-5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
   
    &:hover {
        background-color: colors.$hover;
    }
}

.dropdown {
    position: relative;

    span {
        pointer-events: none;
    }

    .dropped_menus {
        position: absolute;
        width: 100%;
        flex-flow: column nowrap;
        display: none;
        background-color: colors.$gray-400;
        border: 2px solid white;
        overflow: hidden;
        z-index: 50;
    }

    &:hover .dropped_menus {
        display: flex;
        top: 0;
        left: -100%;
        border-radius: 0;
    }
}

.active {
    background-color: colors.$active;
}

.show {
    display: flex !important;
    z-index: 9999;
}

@media (min-width: breakpoints.$break-large){
    .brand {
        min-width:  widths.$sidebar;
        flex: none;
    }

    .navbar {
        width: auto;

        .menus {
            display: flex;
            position: static;
            flex-flow: row nowrap;
            background-color: transparent;
            border: none;
            border-radius: 0;
        }

        .button {
            display: none;
        }
    }

    .dropdown { 
        &:hover .dropped_menus {
            top:  widths.$s-12;
            left:0;
            border-radius: 0 0 10px 10px;
        }
    }
}

