input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #BBB;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #005000;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #009900;
}