@use "../styles/breakpoints";
@use "../styles/widths";
@use "../styles/colors";

.close{
    width: widths.$s-6;
    height: widths.$s-6;
    background-color: white;

    line {
        pointer-events: none;
        stroke: black;
        stroke-linecap: square;
        stroke-width: 7px;
    }
    
    &:hover {
        line {
            stroke: white;
        }
    }
}

@media (min-width: breakpoints.$break-large){
    .close {
        width: widths.$s-7;
        height: widths.$s-7;
    }
}